@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0px;
}

h1 {
    user-select: none;
}


html, body {
    margin: 0;
    padding: 0;
    overflow:visible;
}


.top-page {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 65px;
    background:#1F2833;
    text-align: center;
    display: inline-block;
}

.nav-bar-profile {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 2vw;
    position: relative;
}

.nav-bar-pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #000000;
}

/* FROM GABE */
#YouPortfolio {
    font-size: 2vw;
    position: absolute;
    left: 4%;
    top: 8px; 
    font-family: Poppins;
    user-select: none;
    font-weight: 100;
    color: white;
    transition: 0.5s;
}

@media screen and (max-width:767px) {
    #YouPortfolio {
    font-size: 2vw;
    position: absolute;
    left: 4%;
    top: 8px; 
    font-family: Poppins;
    user-select: none;
    font-weight: 100;
    color: white;
    padding: 10px;
    }

    ul {
        padding-left: 10px;
    }
}


#You {
    font-family: Poppins, sans-serif;
}

#Portfolio {
    font-weight: 800;
    color: #66FCF1 ;
}

#upload{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 73vw;
    top: 22px;
    background: #66FCF1;
    border-radius: 35px;
    font: 14px Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 2;
}

#upload:hover {
    background-color: #1F2833;
    color: #66FCF1;
    font-weight: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* END OF GABE CODE */

.searchbar {
    text-align: center;
    padding-top: 10px;
}

.searchbar input[type=search] {
    position: absolute;
    height: 36px;
    width: 20vw;
    left: 40vw;
    top: 14px;
}

.sidebar {
    position: fixed;
    float: left;
    width: 15%;
    height: 100%;
    background-color: rgba(31,40,51,.9);
    z-index: 3;
    padding-top: 63px;
    transition: 0.5s;
}

.posts-wrapper {
    float: right;
    margin: 0 0 0 0;
    height: 100%;
    width: 80%;
    overflow: auto;
}

.your-feed {
    padding-top: 63px;
    font: 50px Poppins;
    font-weight: 600;
    color: #1F2833;
}

.your-feed > span {
    color: #66FCF1;
}

.welcome {
    font: 16px Poppins;
    font-weight: bold;
    font-stretch: condensed;
    color: #1F2833;
}

/* Categories */
.sidebar > h1 {
    margin-top: 20px;
    font: 2vw Poppins;
    font-weight: 700;
    color:#66FCF1;
    text-align: center;
}


.sidebar > ul > li {
    color:white;
    font: 1vw Poppins;
    font-weight: 400;
    margin: 10 0 0 0;
    user-select: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:#1F2833;
    transition: all 250ms ease-in;
}

/* POSTS */

/* Post Image */
.posts > div {
    width: 100%;
    padding: 30 0 30 0;
    text-align: center;
}

.image-container {
    width: calc(100%);
    background-size:cover;
    display: flex;
    position: relative;
    z-index: 1;
}

.post-image {
    width: 60vw;
    height: 500px;
    object-fit: cover;
    flex-shrink: 2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 500ms;
}

/* Image Hover Code */

.black-overlay-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 3;
    height: 20%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    text-align: left;
}

.black-overlay-btm {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 3;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    text-align: left;
}

.image-container:hover .black-overlay-btm {
    visibility: visible;
}

.image-container:hover .black-overlay-top {
    visibility: visible;
}

.caption {
    color: white;
    height: 30%;
    width: 80%;
    font-family: Poppins;
    font-size: clamp(0.1vw,1vw,2vw);
    margin-top: 1vh;
    margin-left: 1vw;
}

.artist {
    color: white;
    height: 50%;
    width: 80%;
    font: 1vw Poppins;
    text-decoration: underline;
    margin-top: 0.2vh;
    margin-left: 1vw;
    overflow: hidden;
    top: 0;
}

/* Comments */
.comment-box {
    background-color:rgb(31,40,51,.8);
    border-radius: 20px;
    margin-top: -25;
    overflow-y:scroll;
    overflow-x: hidden;
    width: 60vw;
    height: 10vw;
    position: relative;
    transition: 500ms;
}

.comment-container {
    position: relative;
    display: inline-block;
    width: 60vw;
    height: 8vw;
}

.extend {
    height: 13vw;
    transition: ease-in-out 500ms;
}

.reveal {
    height: auto;
}

.comment-picture-container {
    width: 9vw;
    height: 9vw;
    overflow:hidden;
    margin-top: 2vh;
    float: left;
}

#comment-picture {
    width: 4.5vw;
    height: 4.5vw;
    mix-blend-mode: normal;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 2vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

#comment-picture > img {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.comment-data {
    height: 100%;
    color: white;
    float: left;
    text-align: left;
    margin-top: 5vh;
    margin-right: 7vh
}

.show-replies {
    width: 10%;
    height: 70%;
    float: right;
    margin-top: 6vh;
    margin-right: 1vw;
}

.show-button {
    background: none;
    outline: none;
    border: none;
}

.show-button > img {
    background: none;
    height: 2vw;
    width: 2vw;
    transition: 500ms;
}

.rotate-button {
    transform: rotate(-90deg);
    transition: 500ms;
}

#profile-name {
    font-size: 1vw;
    font-family: Poppins;
    font-weight: 400;
    color: #66FCF1;
}

#comment {
    font-size: clamp(0.1vw, 1vw, 2vw);
    font-family: Poppins;
    font-weight: 400;
    position: absolute;
    text-align: justify;
    margin-right: 8vw;
}

.reply-container {
    width: 60vw;
    height: 3vw;
}

.display-replies {
    display: none;
    background-color: #000000;
}

.reply-picture-container {
    width: 5vw;
    height: 5vw;
    overflow:visible;
    float: left;
}

#reply-picture {
    width: 3vw;
    height: 3vw;
    mix-blend-mode: normal;
    border-radius: 50%;
    margin-left: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

#reply-picture > img {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.reply-data {
    height: 100%;
    color: white;
    float: left;
    text-align: left;
    margin-left: 3vw;
}

#reply-name {
    font-size: 1vw;
    font-family: Poppins;
    font-weight: 400;
    color: #66FCF1;
}

#reply {
    font-size: clamp(0.1vw, 0.7vw, 1vw);
    font-family: Poppins;
    font-weight: 400;
    position: absolute;
    text-align: justify;
    margin-right: 8vw;
}

.show-replies-2 {
    width: 10%;
    height: 70%;
    float: right;
    margin-top: 1vh;
    margin-right: 3vw;
}

/* Post Info and Quality */

.post-profile {
    height: 40px;
    width: 40px;
}

.post-quality {
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 0;
    background-color: rgb(31,40,51,.8);
    width: 5vw;
    height: 10vw;
}

.likes {
    width: 5vw;
    height: 5vw;
    overflow:hidden;
}

.profile-pic-container {
    width: 5vw;
    height: 5vw;
    overflow:hidden;
}

#profile-picture {
    width: 60%;
    height: 60%;
    mix-blend-mode: normal;
    border-radius: 50%;
    margin-left:20%;
    margin-top: 0.5vw;
    box-sizing: border-box;
    padding-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture > img {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

.parent {
    height: 75vh;
    font-size:0;
}

.child {
    display: inline-block;
}

#heart > img {
    width: 1.5vw;
    height: 1.5vw;
}

#heart {
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    mix-blend-mode: normal;
    border-radius: 50%;
    margin-left:25%;
    margin-top: 1vw;
    box-sizing: border-box;
    padding-top: 0.5vw;
}

#like-count {
    width: 100%;
    color: white;
    font-size: 0.69vw;
    text-align: center;
    overflow: hidden;
    font-family: Inter;
    font-weight: 400;
    user-select: none;
    margin-top: 0.2vw;
}

/* SCROLL BAR CODE
    Taken From: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: auto;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }