<html>
    <head>
        <title>
            YouAccount
        </title>
        <link rel="stylesheet" type="text/css"   href="/css/accountpage.css">
        <script src="scripts/jquery-3.6.0.min.js"></script>
        <script src="scripts/accountpage.js" ></script>
    </head>
</html>